@font-face {
  font-family: "SalesforceSans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(' '),
    url('./fonts/SalesforceSans-Regular.woff') format('woff'),
    url('./fonts/SalesforceSans-Regular.woff2') format('woff2');
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(' '),
    url('./fonts/Roboto-Regular.woff') format('woff'),
    url('./fonts/Roboto-Regular.woff2') format('woff2');
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local(' '),
    url('./fonts/Roboto-Medium.woff') format('woff'),
    url('./fonts/Roboto-Medium.woff2') format('woff2');
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(' '),
    url('./fonts/Roboto-Bold.woff') format('woff'),
    url('./fonts/Roboto-Bold.woff2') format('woff2');
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local(' '),
    url('./fonts/Roboto-Black.woff') format('woff'),
    url('./fonts/Roboto-Black.woff') format('woff2');
}

:focus {
  outline: none;
}

body {
  max-width: 845px;
  min-width: 320px;
  padding-right: 40px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
}